<!--

    In an L-ish shape left and right

    |-
    |--
    |    |
    |-----

    I want to have a grid of small lines which are randomly drawing in or not
    and which change continuosly (slowly)

-->

<div class="window_width" id="learn_sewing">
    <svg id="perculation1" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M2 20 L2 80 L20 80 L20 50 L20 40 L10 40" stroke="var(--theme_color1)" stroke-width="2" fill="none" />
    </svg>
    <svg id="perculation2" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M2 20 L2 80 L20 80 L20 50 L20 40 L10 40" stroke="var(--theme_color1)" stroke-width="2" fill="none" />
    </svg>
    <h4>
        Do you need sewing tutorials?
    </h4>
    <p>
        With most of our patterns, you don't actually need to know that much about sewing! <br>
        Everything else is covered here, <a href="#">step by step.</a> For free.
    </p>
</div>