<div class="spline_preview" _id="<%= id %>" _is_basic_spline="<%= is_basic_spline %>">
    <div class="spline_preview_svg_wrapper">
        <svg></svg>
    </div>
    <div class="spline_preview_spline_name"><%= spline_name %></div>
</div>