<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HU Annotationssoftware</title>
    <link rel="stylesheet" href="<%- CONF.abs_path("h2d2/styles.css") %>">
    <link rel="stylesheet" href="/css/error_page.css">
</head>
<body class="l-body">
    <main class="l-main">

        <div class="l-viewport">

            <%- include("../components/head.ejs") %>

            <section class="l-stage">
                <div class="g-container">
                    <div class="g-row g-gutter-y">
                        <div class="g-col-12 g-gap-y">
                            <h1 id="error_page_smileyneutral"><shopicon-regular-smileyneutral></shopicon-regular-smileyneutral></h1>
                            <h1>Keypoint Help</h1>
                            <p>Page currently not build. Since it would take quite some time to get everything going with the database, I am waiting for another Go.
                                For reference see 
                                <a href="https://www.figma.com/design/AkTDgwI7rmMTjhWDtQVelX/HU-Annotationssoftware-v2?node-id=1879-1447&t=6Au87tbUMPiVdYRt-0" style="text-decoration: underline; #5C5858">here.</a>
                            </p>
                            <a class="btn btn-success" href="/">Back to home page</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </main>
    
    <%- include("../components/min_footer.ejs") %>
</body>
</html>