<div class="table_panel selection_head">
    <h2>Design</h2>
    <p>Click on the list items to modify your T-shirt:</p>
    <%- design_config.render("./website/views/config_render") %>
    <button type="back">Back</button>
    <button type="logout">Log Out</button>
</div>