**.jpg
**.png
**.svg
**.mp4
node_modules
**node_modules
renders
Server/public/tailwind.css
**.blend**
**__pycache__/
**.py[cod]
**.fbx
Tools/Blender/assets
___frames_**
Docs/site

// Needed by ??
**Leonie
Patterns/_example

secrets.md
**/secrets.md
_docs

.vscode

!StoffLib/_calculations/**/*.jpg

!stoffbilder/**/*.svg
stoffbilder/svg_files
