**.jpg
**.webp
**.png
**.svg
**.mp4
**node_modules
**.blend**
**__pycache__/
**.py[cod]
**.fbx
.vscode

**/secrets.md

!/Sewing/Data/PreviewPictures/**/*.svg
**/*.pdf

rust/pkg
rust/target

**fontawesome**
