<div id="current_number_input_value" hx-swap-oob="innerHTML">
    Wert: <span><%= new String(value) %></span>
</div>

<div id="number_input_svg_wrapper" hx-swap-oob="innerHTML">
    <%- svg %>
</div>
