
<div class="setting_small_box">
    <div class="setting_name">
        <%- setting_name %>
    </div>
    <div class="number_input">
        <input type="range" name="<%- setting_id %>" id="<%- setting_id %>">
    </div>
</div>