<div class="radio_btn" id="<%- id %>">
    <div class="radio_check_wrapper">
        <i class="fa-regular fa-hexagon-check"></i>
        <i class="fa-regular fa-hexagon hidden"></i>
    </div>
    <div class="radio_name"><%- name %></div>
</div>