<div id="top_text" hx-swap-oob="innerHTML">Logged in as <%= name %> --- <%- texts.logged_in_subtitle %></div>

<div id="dashboard_flex" hx-swap-oob="innerHTML">
    <%- include("../panels/measurements_panel.ejs") %>
</div>
