<div class="config_component config">
    <% for (let i = 0; i < t.children.length; i++){
        try { %>
            <%- t.children[i].render(dir, ["BASE", i]) %>
        <% } catch (e){ console.trace(e) }
    } %>
</div>