node_modules
public/test_files
data/animalProjects/
data/backups

data/config.json
database_handling/db_config.json
package-lock.json

public/css/h2d2/main.css

api_handling/Backup
api_handling/downloaded_images
api_handling/_temp_utils

*.zip
**.zip
*.ipynb_checkpoints
**.ipynb_checkpoints