<div class="l-modal l-modal-new-project">
    <div class="l-modal-header">
        <div class="l-modal-close">
            <shopicon-regular-close></shopicon-regular-close>
        </div>
        <label>
            New project
        </label>
    </div>
    <div class="l-modal-content">
        <div class="l-modal-input-wrapper">
            <label>
                <input value="" maxlength="51" id="new_project_text_input" class="l-modal-input" data-project-name-reset="" placeholder="Name this project">
            </label>
        </div>
        <div class="l-modal-error" id="create_project_modal_error">
            Name should have at most 50 characters.
        </div>
        <div class="l-modal-buttons">
            <div class="btn btn-2nd-level l-modal-btn-discard disable">
                Discard changes
            </div>
            <a href="#" class="btn btn-1nd-level l-modal-btn-new-project-save">
                Save and exit
            </a>
        </div>
    </div>
</div>