<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoff Dev</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/fonts/fontawesome/main.css">
</head>
<body>
    <div id="params_selection">
        <%- design_config.render(config_components) %>
    </div>
    <div id="sketch_display"></div>
    <%- `
        <script type="module">
            import { Config } from './conf/exports.js';
        
            const design_config_serialized = ${ JSON.stringify(design_config.serialize()) };
            window.design_config = Config.deserialize(design_config_serialized);

            document.addEventListener("DOMContentLoaded", () => {
                window.design_config.add_interaction_events();
                request_img();
            });
        </script>
    ` %>

    <script src="/add_svg_hover_events.js"></script>
    <script src="/request_pattern.js"></script>
    <script src="/monitor_server_reset.js"></script>
</body>
</html>