<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HU Annotationssoftware</title>
    <link rel="stylesheet" href="/h2d2/styles.css">
    <link rel="stylesheet" href="/css/h2d2/main.css">
    <link rel="stylesheet" href="/css/static_pages.css">
</head>
<body class="l-body">
    <%- include("../components/head.ejs") %>
    <main class="l-main">
        <%- include("../user_annotation/common/instructions")  %>
    </main>
    
    <%- include("../components/min_footer.ejs") %>
</body>
</html>