<section class="l-notification l-notification-error l-notification-viewport" style="display: none;">
    <div class="g-container">
        <div class="g-row g-gutter-y">
            <div class="g-col-12 g-gap-y">
                <div class="l-notification-wrapper">
                    <div class="l-notification-icon">
                        <shopicon-regular-info></shopicon-regular-info>
                    </div>
                    <div class="l-notification-text">
                        Please use a device with a minimum resolution of 1024 x 768 pixels and without a touchscreen.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>