<div class="l-stage-controller-wrapper">
    <div class="g-container">
        <div class="g-row g-gutter-y">
            <div class="g-col-12 g-gap-y">

                <div class="l-stage-controller-bar">
                    <div class="l-stage-controller-bar-buttons">
                        <div class="swiper-button-prev"><shopicon-regular-arrowback size="s"></shopicon-regular-arrowback></div>
                        <div class="swiper-button-next"><shopicon-regular-arrowforward size="s"></shopicon-regular-arrowforward></div>
                        <div class="l-stage-controller-bar-text"></div>
                    </div>
                    <div class="l-stage-controller-bar-scrollbar">
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>