
.hover_data {
    position: fixed;
    background-color: var(--color-emerald-300);
    color: var(--default_on_black_text_color);
    padding: 0.5em 0.8em 0.5em 0.5em;
    border-radius: 0.2em;
    opacity: 0;
    cursor: crosshair;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 98;
    margin-right: 0.8rem;
    max-width: 20em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1em;
    text-align: left;
}