<div class="l-modal l-modal-delete" id="delete_section">
    <div class="l-modal-header">
        <div class="l-modal-close">
            <shopicon-regular-close></shopicon-regular-close>
        </div>
        <label>
            Are you sure?
        </label>
    </div>
    <div class="l-modal-content">
        <div class="l-modal-delete-txt">
            Once you delete “<span class="l-modal-delete-txt-project-name"></span>”, nobody will be able to open it and there is no turning back.
        </div>
        <div class="l-modal-buttons">
            <div class="btn btn-2nd-level l-modal-delete-btn-cancel">
                Cancel
            </div>
            <a href="#" class="btn btn-1nd-level l-modal-btn-delete">
                Delete
            </a>
        </div>
    </div>
</div>