*{
    box-sizing: border-box;
}

body{
    background-color: black;
    padding: 1rem 0 0 2rem;
    font-family: "Open Sans", sans-serif;

    --c: #5ADBFF;
    --w: 35rem;
}

i{
    color: var(--c);
}

#linktree{
    display: flex;
    flex-direction: column;
    width: var(--w);
}

#linktree_title{
    color: white;
    margin: 1rem 0 .5rem 0;
}

#linktree > a{
    display: block;
}

#linktree > a, #linktree > div{
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    border: .2rem solid white;
    width: 100%;
    margin-top: 1rem;
}

#linktree > a:hover, #linktree > div:hover{
    border: .2rem solid var(--c);
}

#linktree > a:hover, #linktree > div:hover .card_title{
    text-decoration: underline var(--c);
}

.linktree_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linktree_card .card_title{
    width: min-content;
    white-space: nowrap;
    color: black;
    min-width: 10rem;
    text-decoration: none;
}

.linktree_card .linktree_toolbar i{
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: .3rem;
}

#tree_add_item{
    cursor: pointer;
}

.page_descr{
    width: var(--w);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.page_descr p{
    color: white;
    white-space: wrap;
    line-height: 1.5rem;
}

.page_descr .descr_sep{
    background-color: white;
    height: .2rem;
    width: 100%;
}