<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Testing</title>
    <link rel="stylesheet" href="<%= CONF.website_path %>/fonts/fontawesome/main.css">
    <link rel="stylesheet" href="<%= CONF.website_path %>/css/testing/index.css">
</head>
<body>
    <main id="ui">
        <div id="editing_area">
        </div>
        <div id="folder_area">
            <div class="sub_folder_area" id="patterns">
                <div class="folder">
                    <div>Pattern1</div>
                </div>
                <div class="folder">
                    <div>Add new pattern</div>
                </div>
            </div>
            <div class="sub_folder_area" id="splines">
                <div class="folder">
                    <div>Folder</div>
                    <div>
                        <div class="folder">
                            <div>Subfolder</div>
                            <div style="display: none"></div>
                        </div>
                        <div class="folder">
                            <div>Subfolder2</div>
                            <div style="display: none"></div>
                        </div>
                        <div class="spline">
                            <div>Spline</div>
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <div>Folder</div>
                    <div>
                        <div class="folder">
                            <div>Subfolder</div>
                            <div style="display: none"></div>
                        </div>
                        <div class="folder">
                            <div>Subfolder2</div>
                            <div style="display: none"></div>
                        </div>
                        <div class="spline">
                            <div>Spline</div>
                        </div>
                    </div>
                </div>
                <div class="folder">
                    <div>Add new folder</div>
                </div>
            </div>
        </div>
    </main>
    <script src="<%= CONF.website_path %>/js/testing/main.js"></script>
</body>
</html>