<span id="register_error" class="active" hx-swap-oob="innerHTML">
    <span class="active">
        Wrong password. Try again or make a new entry with a 2 after your name if you forgot it.
    </span>
</span>
