<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measurements</title>
    <link rel="stylesheet" href="/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h4>Measurements</h4>
        <div class="m-wrapper">
            <% for (const m of measurements){ %>
                <div class="measurement_box">
                    <span><%- m %></span><input type="text" name="<%= m %>" id="<%- m %>">
                </div>
            <% } %>
        </div>

        <div id="btn_row">
            <div id="submit">Submit</div>
            <div id="reset">Reset</div>
        </div>
    </main>
    <script src="/index.js"></script>
</body>
</html>
