<div class="selection_component" x-value="null" x-component-path="<%- serialized_path %>">
    <h4><%= name %></h4>
    <div class="selection_component_box">
        <% children.forEach((c, i) => { %>
            <div class="selection_option">
                <div class="selection_option_icon">
                    <% if (i === selected) { %>
                        <i class="fa-regular fa-circle-check"></i>
                        <i class="fa-regular fa-circle hidden"></i>
                    <% } else { %>
                        <i class="fa-regular fa-circle-check hidden"></i>
                        <i class="fa-regular fa-circle"></i>
                    <% } %>
                </div><div><%- c.render(dir, [...own_path, i]); %></div>
            </div>
        <% }) %>
    </div>
</div>