<%
    if (render_data.message){
%>
    <div id="render_message" class="max-w-md overflow-auto border-t-2 border-default-dark" hx-swap-oob="outerHTML">
        <pre
            class="text-left p-5 leading-[1.3rem]"
        ><%= render_data.message %></pre>
    </div>
<%
    }
%>

<div id="pattern_preview" hx-swap-oob="outerHTML">
    <% if (render_data.svg) { %>
        <div class="w-full flex justify-center" id="sketch_display">
            <%- render_data.svg %>
        </div>
    <% } else { %>
        Image couldn't be rendered.
    <% } %>
</div>