<div class="screen_width" id="mission_statement">
    <div class="title"><h3>How it works</h3></div>
    <p>
        We create sewing patterns tailored to your measurements and wishes, adding a personal touch to every design.
        With a blend of creativity and hands-on problem-solving, we draft your pattern in code as if we were sketching it ourselves on paper,
        using tools that ensure precision without losing the human touch.
        Once it's ready, you can download it, print it, and dive right into your sewing project.
        It’s an easy, streamlined process that lets you focus on creating something that fits and feels just right — all crafted by people who love making things as much as you do.
    </p>
</div>