<div class="content_width banner">
    <div class="banner_background">
        <div class="abs_wrapper">
            <div class="banner_img" id="background_img_1"></div>
            <div class="banner_img" id="background_img_2"></div>
            <div class="banner_img" id="background_img_3"></div>
            <div class="current_mea">
                <div>Waist Unicorn: 120.2cm</div>
                <div>Arm Length: 20.3cm</div>
            </div>
        </div>
    </div>
    <div class="banner_foreground">
        <h1>StoffLib</h1>
        <p>
            We create sewing patterns and clothing which fit <b>You</b>
        </p>
    </div>
</div>