<footer class="window_width">
    <div id="link_list">
        <a href="#"><i class="fa fa-chevrons-right"></i> Home</a>
        <a href="#"><i class="fa fa-chevrons-right"></i> About</a>
        <a href="#"><i class="fa fa-chevrons-right"></i> Contact</a>
        <a href="#"><i class="fa fa-chevrons-right"></i> Legal</a>
    </div>
    <div id="footerLogo">StoffLib</div>
</footer>