.nav{
    padding: .5em 2em .5em 0;
    font-size: 1.2em;
    height: 3em;
    display: flex;
    justify-content: flex-end;
}

.nav_item{
    margin-left: 1.5em;
    line-height: 1.2em;
    cursor: pointer;
}

.nav_item:not(.login){
    margin-top: .4em;
}

.nav_item:not(.login)::after {
    content: '';
    display: block;
    width: 0;
    height: .2em;
    background-color: var(--theme_color1);
    transition: width 0.1s;
    margin-top: .12em;
    border-radius: 2em;
}

.nav_item:not(.login):hover::after {
    width: 100%;
}

.nav_item.login{
    border: .2em solid var(--theme_color1);
    border-radius: 2em;
    padding: .2em .8em;
    height: 2em;
}

.nav_item.login:hover{
    color: black;
    background-color: var(--theme_color1);
    transition: background-color .3s, color .3s;
}

/* ============== BANNER ============== */

.banner{
    height: min(calc(100vh - 3em), 40em);
    position: relative;
}


/* ---------- Banner BG ------------------- */
.banner_background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;

    overflow: hidden;
}

.abs_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

#background_img_1{
    width: 40em;
    height: 30em;
    background-image: url('/assets/p1.PNG');
    left: 1em;
    top: 0em;
    transform: scale(.8);
}

#background_img_2{
    width: 15em;
    height: 25em;
    background-image: url('/assets/p2.PNG');
    
    right: 3em;
    top: 0em;
    transform: rotate(-10deg);
}

#background_img_3{
    width: 30em;
    height: 25em;
    background-image: url('/assets/p3.PNG');
    left: 25vw;
    bottom: 1em;
}

.banner_img {
    position: absolute;
    filter: grayscale(100%);
    opacity: .8;
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating of the image */
}

.current_mea{
    border-left: .2em solid var(--theme_color1);
    top: 25em;
    right: 3em;
    position: absolute;
    padding: .5em 0 .5em  1em;
}

/* ---------- Banner FG ---------------*/

.banner_foreground{
    position: relative;
    z-index: 60;

    margin-left: 10vw;
    padding-top: 3em;
}

.banner_foreground h1{
    font-size: 5em;
}

.banner_foreground p{
    margin-top: 2em;
    font-size: 1.2em;
}

.banner_foreground b{
    font-size: 1.5em;
}

/* ======== Start By ================== */
.start_by{
    min-height: 20em;
    border-top: .1em solid black;
    margin-top: 1em;
}

.start_by_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 17em;
}

.svg_wrapper{
    height: 100%;
    width: 8em;
}

.svg_wrapper svg{
    width:  100%;
    height: 100%;
}

.start_by_box h3{
    font-size: 2em;
    color: var(--theme_color1);
}

.start_by_box.expanded{
    width: calc(70vw - 4em);
    margin-top: 2em;
}

.start_by_box.retracted{
    width: calc(30vw - 4em);
}

/* ---------- Style -------- */

#start_by_style{
    position: relative;
    padding-left: 7em;
}

#model3d{
    width: 20em;
    height: 25em;
    border: .2em solid gray;
    position: absolute;
    right: 2em;
    top: 2.5em;
    z-index: 30;
    opacity: .8;
}

#start_by_style p{
    margin-top: 1em;
    font-size: 1em;
}

.show_me{
    text-decoration: underline solid var(--theme_color1) .2em;
    text-underline-offset: .2em;
    margin-top: 2em;
    font-size: 1.2em;
}

/* ------------ MEA --------- */
#start_by_measurements h3{
    margin-top: 3em;
}