<div class="window_width" id="recruiting_box">
    <div class="recruiting_text">
        <h6>
            Making your own patterns? <br>
            Mabye even publishing them?
        </h6>
        <p>
            If you are interested and can programm, we have got just the thing for you!
        </p>
        <a>Learn more</a>
    </div>
    <div id="stoffLibArt">
        <% for (let i = 0; i < 200; i++) { %>
            <span>StoffLib</span>
        <% } %>
    </div>
</div>

Todo: Stofflibart bottom: overlay with after, such that padding fits
Align RHS correctly, make Link pretty

Try out different art styles for StoffLib - Maybe ifferent font!