<div class="window_width" id="recruiting_box">
    <div class="recruiting_text">
        <h6>
            Make Your own patterns? <br>
            Maybe even publish them?
        </h6>
        <p>
            If you are interested and can programm, we have got just the thing for you!
        </p>
        <a href="#"><i class="fa fa-chevrons-right"></i> Learn more</a>
    </div>
    <div id="stoffLibArt">
        <% for (let i = 0; i < 5; i++) { %>
            <div>StoffLib StoffLib StoffLib StoffLib</div>
        <% } %>
        <div style="white-space: nowrap;">&gt;&gt;&gt; Self Build Sewing Software  &lt;&lt;&lt;</div>
        <% for (let i = 0; i < 11; i++) { %>
            <div>StoffLib StoffLib StoffLib StoffLib</div>
        <% } %>
    </div>
</div>