<div class="window_width start_by">
    <div class="start_by_options">
        <div id="start_by_style" class="start_by_box expanded">
            <h3>Explore our<br>Collection</h3>
            <!-- h3>Choose Your<br>Style</h3 -->
            <div class="collection_text">
                <p>
                    Have a look at our list of sewing patterns to choose from.
                    <br>
                    Each custom made to fit just <b>You.</b>
                </p>
                <div class="show_me">Show me!</div>
            </div>
            <div id="model3d">

            </div>
        </div>
        <div class="svg_wrapper">
            <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="--highlight_color1: lightblue;" preserveAspectRatio="none">
                <polygon points="17,0 20,0 3,20 0,20" fill="var(--theme_color1)" stroke="none"/>
            </svg>                   
        </div>
        <div id="start_by_measurements" class="start_by_box retracted">
            <h3>Start by taking your measurements</h3>
        </div>
    </div>
    <div class="start_by_extra_stuff">

    </div>
</div>