*{
    background-color: black;
    --color: palevioletred;
    color: var(--color);
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    padding: 3em;
}

body div{
    display: flex;
    flex-direction: column;
}

body div a{
    display: block;
    margin-top: 1em;
    text-decoration: none;
    border-bottom: .1em solid var(--color);
}