<li class="l-toolbar-panel-key-points-item <%- extra_classlist %> _hu_keypoint_element" _id="<%- id %>">
    <div class="l-toolbar-panel-key-points-point" <%- `style="background-color: ${ color }"` %>></div>
    <div class="l-toolbar-panel-key-points-name"><%= name %></div>
</li>