<!DOCTYPE html>
<html>
<head>
  <title>Tailwind Test</title>
  <link href="/TWoutput.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-center p-10">
  <h1 class="text-3xl font-bold text-blue-300">Hello from EJS + Tailwind!</h1>
  browser-sync start --proxy http://localhost:3008 --files "DevEnv/SelectionDevServer/**" --port 3009

  browser-sync start --proxy http://localhost:3008 --port 3009 --logLevel debug


  asdda
</body>
</html>
