<!DOCTYPE html>
<html>
    <head>
        <title>Stoff :: <%= file.toUpperCase() %></title>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link href="/TWoutput.css" rel="stylesheet" />
        <link href="/index.css" rel="stylesheet" />
    </head>

    <body class="bg-gray-100">
        <div id="pattern_preview">Loading...</div>
        <div id="render_message">[No render message]</div>
        <%- include("htmx/state.ejs", { state: { start_ts: Date.now() } }) %>
        <script src="/main/add_svg_hover_events.js"></script>
        <script>
            getTimeoutSetting = () => 200;

            document.body.addEventListener("htmx:afterSwap", function (evt) {
                if (evt.detail.elt.id === "pattern_preview") {
                    add_svg_hover_events();
                }
            });
        </script>
        <div
            hx-post="/debug/<%- file %>/hot_reload_req"
            hx-trigger="every 200ms"
            hx-include="#application_state"
            hx-request="js: timeout:getTimeoutSetting() "
            hx-swap="none"
        ></div>
    </body>
</html>
