<!DOCTYPE html>
<html>
    <head>
        <title>StoffStoff</title>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link href="/TWoutput.css" rel="stylesheet" />
        <link href="/index.css" rel="stylesheet" />
    </head>

    <body class="bg-gray-100">
        <%- include("./htmx/state"); %>
        <div
            class="grid h-screen grid-rows-[auto_1fr] grid-cols-[auto_auto_auto_1fr]"
        >
            <div class="p-4 col-span-4 bg-default-dark" onclick="toggle_hide_config()">
                <h1 class="text-2xl font-bold text-emerald-300 text-center select-none">
                    StoffStoff
                </h1>
            </div>
            <div
                hx-post="/htmx/parts"
                hx-include="#application_state"
                hx-trigger="load"
                hx-swap="outerHTML"
                id="partSelection"
            >
                Loading...
            </div>
            <div class="border-r-2 border-default-dark" id="featureSelectionContainer">
                <div class="overflow-y-auto flex flex-col" id="featureSelection">Loading...</div>
                <div id="preview">Loading...</div>
            </div>
            <div class="p-4">
                
            <div id="canvas">Loading...</div>
            </div>
        </div>

        <script>
            getTimeoutSetting = () => 200;

            document.body.addEventListener("htmx:afterSwap", function (evt) {
                if (evt.detail.elt.id === "pattern_preview") {
                    add_svg_hover_events();
                }
            });
        </script>
        <div
            id="hot-reload-poller"
            hx-post="/hot_reload_req"
            hx-trigger="poll"
            hx-include="#application_state"
            hx-request="js: timeout:getTimeoutSetting() "
            hx-swap="none"
        ></div>
        <script src="/main/add_svg_hover_events.js"></script>
        <script src="/main/slider.js"></script>
        <script src="/main/htmx_exponential_backoff.js"></script>
    </body>

    <script>
        function toggle_hide_config() {
            document.getElementById('partSelection').classList.toggle('hidden');
            document.getElementById('featureSelectionContainer').classList.toggle('hidden');
        }
    </script>
</html>
