<div class="param_box param_boolean" x-default-value="<%- p.default %>" x-name="<%= p.name %>">
    <div class="boolean_checkbox">
        <% if (p.default){ %>
            <i class="fa-regular fa-hexagon-check"></i>
            <i class="fa-regular fa-hexagon hidden"></i>
        <% } else { %>
            <i class="fa-regular fa-hexagon-check hidden"></i>
            <i class="fa-regular fa-hexagon"></i>
        <% }%>
    </div><div class="param_name"><%= p.name %></div>
</div>