<div id="pattern_preview" class="border-2 border-default-dark w-min" style="margin:20px" hx-swap-oob="outerHTML">
    <% if (render_data.svg) { %>
        <div id="sketch_display">
            <%- render_data.svg %>
        </div>
    <% } else { %>
        <div style="width: 500px; height: 500px; text-align: center; display: flex; align-items: center; justify-content: center;">
            Image couldn't be rendered.
        </div>
    <% } %>
</div>
  
<div id="render_message" class="overflow-auto" style="margin:20px; background-color: #ddd; min-width: 504px; width: min-content" hx-swap-oob="outerHTML">
    <pre
        class="text-left p-5 leading-[1.3rem]"
><%= render_data.rendering_data %></pre>
</div>