*{
    background-color: black;
    --color: palevioletred;
    color: var(--color);
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    padding: 3em;
}

pre{
    margin-left: 0em;
    line-height: 1.5em;
}

.ex:not(.ex_level1){
    border-left: .2em solid var(--color);
    padding: .5em 0em 0em 3em;
}

.ex_level3{
    padding-left: 2em !important;
}

.ex_level2{
    margin-bottom: 3em;
}

pre span:hover{
    color: rgb(250, 176, 200);
    cursor: default;
}

h2, h3, h4, h5, h6{
    margin: 1em 0 1em 0;
}